---
jobs:
  image:
    name: Image
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Set up QEMU
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up Docker Buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      # Test the built image
      - name: Test image
        run: |
          docker compose --progress plain up --build --exit-code-from test
        timeout-minutes: 5
        working-directory: tests
  security:
    name: Security
    permissions:
      checks: read
      contents: read
      id-token: write
      issues: read
      pull-requests: read
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Publish OSSF Scorecard
      # https://github.com/ossf/scorecard-action
      - name: Publish OSSF Scorecard
        uses: ossf/scorecard-action@f49aabe0b5af0936a0987cfb85d86b75731b0186 # v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      # Upload the results as artifacts (optional). Commenting out will disable uploads of run results in SARIF
      # format to the repository Actions tab.
      # https://github.com/actions/upload-artifact
      - name: Upload SARIF file
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5
      # Upload the results to GitHub's code scanning dashboard (optional).
      # Commenting out will disable upload of results to your repo's Code Scanning dashboard
      # https://github.com/github/codeql-action/tree/main/upload-sarif
      - name: Upload to code scanning dashboard
        uses: github/codeql-action/upload-sarif@7434149006143a4d75b82a2f411ef15b03ccc2d7 # v4.31.2
        with:
          sarif_file: results.sarif
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
